@charset "ISO-8859-1";
body{
	background-color:green;
	font-family: arial;
}

div{
	background-color:white;
	border: solid red;
}

h2{
	color:red;
	text-align:center;
}

h1{
	text-align:center;
}

img{
	width: 166px;
	height:166px;
}